#!/bin/bash

set -e

[[ -e /etc/wit-born-on ]] && exit 0

PUBLIC_IP={{ publicIP }}
PRIVATE_IP={{ privateIP }}
HOST={{ host }}
PUBLIC_GW={{ publicGW }}
PRIVATE_GW={{ privateGW }}

cat << EOF > /etc/systemd/network/eth0.network
[Match]
Name=eth0

[Network]
Address=${PRIVATE_IP}
Gateway=${PRIVATE_GW}

[Network]
Address=${PUBLIC_IP}
Gateway=${PUBLIC_GW}
EOF

echo $HOST > /etc/hostname
hostname $HOST
grep -v "127.0.0.1 localhost" /etc/hosts > /tmp/hosts
{
	echo 127.0.0.1 localhost $HOST
	cat /tmp/hosts
} > /etc/hosts

echo nameserver 8.8.8.8 > /etc/resolv.conf

systemctl restart systemd-networkd

date > /etc/debcore-born-on

reboot
